    <!-- ======= Contact Section ======= -->

<section id="contact" class="contact" >
  <div class="container" data-aos="fade-up" >
    <div class="row">
      <div class="col-lg-4 mt-5">
        <div class="info">
          <div class="address">
            <i class="fa-solid fa-location-dot"></i>
            <h4 class="text-success">Location:</h4>
            <p>A108 Adam Street, New York, NY 535022</p>
          </div>

          <div class="open-hours">
            <i class="fa-solid fa-clock"></i>
            <h4 class="text-success">Open Hours:</h4>
            <p>
              Monday-Saturday:<br>
              11:00 AM - 2300 PM
            </p>
          </div>

          <div class="email">
              <i class="fa-solid fa-envelope"></i>
            <h4 class="text-success">Email:</h4>
            <p>khaledalaaka643@gmail.com</p>
          </div>

          <div class="phone">
            <i class="fa-solid fa-phone-volume"></i>
            <h4 class="text-success">Call:</h4>
            <p>+20 111 0400 862</p>
          </div>
        </div>
      </div>
      <div class="col-lg-8 bg-transparent border-0 mt-5" >
        <form action="forms/contact.php"  method="post" role="form" class="php-email-form bg-transparent">
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" name="name"class="form-control bg-transparent text-white" id="name" placeholder="Your Name" required>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input type="email" class="form-control bg-transparent text-white" name="email" id="email" placeholder="Your Email" required>
            </div>
          </div>
          <div class="form-group mt-3">
            <input type="text" class="form-control bg-transparent text-white" name="subject" id="subject" placeholder="Subject" required>
          </div>
          <div class="form-group mt-3">
            <textarea class="form-control bg-transparent text-white" name="message" rows="8" placeholder="Message" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center mt-5 mb-5"><button class="btn btn-outline-warning" type="submit" (click)="msg()">Send Message</button></div>
        </form>
      </div>
        <div class="container  mt-5" data-aos="fade-up">
          <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

  </div>
</section><!-- End Contact Section -->
<section class="contacts" id="Contacts" >  <!-- Start Contacts -->
    <h2 class="title ">Let's work Together!</h2>
    <h3 class="text-success mt-4">Khaled Alaa</h3>
    <h5 class="text-success">Full stack web developer</h5>
    <div class="content">
              <div class="info info-img mt-5" ><!-- Start card 1 contact -->
                <img src="../../../assets/Images/me.jpg" width="80%" height="80%" alt="">
              </div>
            <!-- End card 1 contact -->
    </div> <!-- End Content of Contacts -->
</section>
<!-- End Contacts -->
