<section class="container-fluid pt-4 mb-3">
  <div class="row h-custom d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-12 col-xl-12 mb-3">
      <div class="row justify-content-between mb-3 text-warning">
        <form class="form theme-form register-form" [formGroup]="registrationForm">
                <!-- name -->
                  <div class="">
                    <div class="d-block text-warning">
                      <label>
                        <i class="fa-solid fa-user text-warning"></i>
                        Username
                      </label>
                    </div>
                      <input formControlName="name" matInput id="text" type="text" class=" bg-transparent text-white mb-2">
                      <mat-error *ngIf="registrationForm.get('name')!.hasError('required')">
                        Name is required
                      </mat-error>
                  </div>

                <!-- Email input -->
                <div class="mt-3 mt-md-0 ">
                  <div class="d-block text-warning">
                    <label for="mail">
                      <i class="fa-solid fa-envelope text-warning"></i>
                      E-mail
                    </label>
                  </div>
                    <input formControlName="email" matInput id="mail" type="email" class=" bg-transparent text-white mb-2" name="email" id="email" >
                    <mat-error *ngIf="registrationForm.get('email')!.hasError('required')">
                      Email is required
                    </mat-error>
                </div>

                <div class="pw-conf d-flex">
                  <!-- Password  -->
                  <div class="d-block mt-3 mb-3">
                    <label for="pw" class="text-warning"><i class="fa-solid fa-lock text-warning"></i>
                      Password</label>
                      <div class="d-block">
                        <input id="pw"
                          matInput
                          class="text-white mt-1 bg-transparent"
                          [type]="hide ? 'password' : 'text'"
                          formControlName="password"
                          />
                          <button
                          type="button"
                          class="eye"
                          mat-icon-button
                          matSuffix
                          [type]="hide ? 'password' : 'text'"
                          (click)="hide = !hide"
                          [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hide"
                        >
                          <i
                            class="fas fa-eye{{ hide ? '-slash' : '' }} text-warning"
                          ></i>
                          </button>
                          <mat-error *ngIf="registrationForm.get('password')!.hasError('required')">
                            &#9830; Password is required
                          </mat-error>
                      </div>
                  </div>
                  <!-- Confirm password -->
                  <div class="d-block mt-3 mb-3">
                    <label for="pw" class="text-warning"><i class="fa-solid fa-lock text-warning"></i>
                      Confirm Password</label>
                      <div class="d-block">
                        <input id="pw"
                          matInput
                          class="text-white mt-1 bg-transparent"
                          [type]="hide ? 'password' : 'text'"
                          formControlName="passwordConfirm"
                          />
                          <button
                          type="button"
                          class="eye"
                          mat-icon-button
                          matSuffix
                          [type]="hide ? 'password' : 'text'"
                          (click)="hide = !hide"
                          [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hide"
                        >
                          <i
                            class="fas fa-eye{{ hide ? '-slash' : '' }} text-warning"
                          ></i>
                          </button>
                      </div>
                  </div>
                </div>
                <mat-error *ngIf="registrationForm.get('passwordConfirm')?.dirty &&registrationForm.hasError('passwordsNotMatching')">
                    Passwords are not matching!
                </mat-error>
                <mat-error *ngIf="registrationForm.get('password')!.hasError('minlength')">
                  &#9830; Password must be at least 8 characters long.
                </mat-error>
                <mat-error *ngIf="registrationForm.get('password')!.hasError('pattern')">
                  <br /> &#9830; Password must contain at least:
                  <br /> &#9755; one uppercase letter (A-Z)
                  <br /> &#9755; one lowercase letter (a-z)
                  <br /> &#9755; one digit letter (0-9)
                  <br /> &#9755; one special character (!@#$%^&*).
                </mat-error>

              <!-- <div class="passwords d-flex col-12">

                  <div class="password mt-1">

                      <input matInput class="text-white" type="password" formControlName="password" [type]="hide ? 'password' : 'text'"/>


              </div> -->


              <!-- <div class="con-pw mt-3 col-12">
                <mat-icon class="mt-2 fas me-3 fa-lock fa-lg  fa-fw text-warning mb-3" matPrefix></mat-icon>
                <mat-label class="text-warning mb-3">Confirm Password</mat-label>
                <div class="passwordConfirm ">
                  <mat-form-field>
                    <input type="password" matInput formControlName="passwordConfirm" class="text-white" [disabled]="registrationForm.get('password')!.valid"
                    [type]="hidePw ? 'password' : 'text'"/>
                    <button class="eye" mat-icon-button matSuffix (click)="hidePw = !hidePw" [attr.aria-label]="'Hide password'">
                        <i class="fas fa-eye{{ hidePw ? '-slash' : '' }} text-warning"></i>
                    </button>
                  </mat-form-field>

                </div>
                
              </div> -->
              <button
                  class="btn btn-outline-warning sign-btn mt-3 mb-3 w-100 d-flex justify-content-center"
                  [disabled]="registrationForm.invalid"
                  routerLink="/home">
                  Sign up
              </button>
              <h6  class="text-white mb-2">Already have an account ? <a (click)="openLoginSection()" class="text-success">Login</a></h6>
          </form>
      </div>
    </div>
  </div>
</section>
