<section class="container-fluid pt-4 mb-5">
  <div class="row h-custom d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-12 col-xl-12 mb-5">
      <div class="row justify-content-between mb-5 text-warning" style="border-radius: 25px">
        <!-- sign up -->
        <h1 class="fw-bold mb-5 text-center">
          <i class="fa fa-arrow-left" aria-hidden="true" (click)="back()"></i>
          Sign up
        </h1>
        <form class="form theme-form" [formGroup]="registrationForm">
            <div class="form ">
                <!-- name -->
                <div class="nam col-12">
                  <mat-icon class="fas me-3 fa-user fa-lg fa-fw text-warning mb-3" matPrefix></mat-icon>
                  <mat-label class="text-warning mb-3">Full Name</mat-label>
                  <div class="name ">
                    <mat-form-field class="user-input mb-3">
                      <input matInput formControlName="name" class="text-white mt-1"/>
                      <mat-error *ngIf="registrationForm.get('name')!.hasError('required')">
                        Name is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <!-- Email input -->
                <div class="mail col-12">
                  <mat-icon class="fas  fa-envelope fa-lg me-3 fa-fw text-warning mb-3 " matPrefix></mat-icon>
                  <mat-label class="text-warning mb-3">E-mail</mat-label>
                  <div class="email ">
                    <mat-form-field class="email-input mb-3">
                      <input matInput class="text-white mt-1" formControlName="email" type="email"/>
                      <mat-error *ngIf="registrationForm.get('email')!.hasError('required')">
                        Email is required
                      </mat-error>
                      <mat-error *ngIf="registrationForm.get('email')!.hasError('email')">
                        Please enter a valid email
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

              <!-- Password  -->
              <div class="passwords d-flex col-12">
                <div class="pw">
                  <mat-icon class="fas me-3 fa-lock fa-lg fa-fw text-warning mb-3" matPrefix></mat-icon>
                  <mat-label class="text-warning mb-3">Password</mat-label>
                  <div class="password mt-1">
                    <mat-form-field class="password-input flex-fill">
                      <input matInput class="text-white" type="password" formControlName="password" [type]="hide ? 'password' : 'text'"/>
                      <button class="eye" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <i class="fas fa-eye{{ hide ? '-slash' : '' }} text-warning"></i>
                      </button>
                      <mat-error *ngIf="registrationForm.get('password')!.hasError('required')">
                        &#9830; Password is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <!-- Confirm password -->
              <div class="con-pw mt-3 col-12">
                <mat-icon class="mt-2 fas me-3 fa-lock fa-lg  fa-fw text-warning mb-3" matPrefix></mat-icon>
                <mat-label class="text-warning mb-3">Confirm Password</mat-label>
                <div class="passwordConfirm ">
                  <mat-form-field>
                    <input type="password" matInput formControlName="passwordConfirm" class="text-white" [disabled]="registrationForm.get('password')!.valid"
                    [type]="hidePw ? 'password' : 'text'"/>
                    <button class="eye" mat-icon-button matSuffix (click)="hidePw = !hidePw" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePw">
                        <i class="fas fa-eye{{ hidePw ? '-slash' : '' }} text-warning"></i>
                    </button>
                    <mat-error *ngIf="registrationForm.get('passwordConfirm')?.touched &&registrationForm.get('passwordConfirm')?.hasError('required')">
                      Password Confirmation is required
                    </mat-error>
                  </mat-form-field>
                  <mat-error *ngIf="registrationForm.get('passwordConfirm')?.dirty &&registrationForm.hasError('passwordsNotMatching')">
                    Passwords are not matching!
                  </mat-error>
                  <button
                      class="btn btn-outline-warning sign-btn mt-4 mb-3"
                      [disabled]="registrationForm.invalid"
                      routerLink="/home">
                      Sign up
                  </button>
                </div>
                <mat-error *ngIf="registrationForm.get('password')!.hasError('minlength')">
                  &#9830; Password must be at least 8 characters long.
                </mat-error>
                <mat-error *ngIf="registrationForm.get('password')!.hasError('pattern')">
                  <br /> &#9830; Password must contain at least:
                  <br /> &#9755; one uppercase letter (A-Z)
                  <br /> &#9755; one lowercase letter (a-z)
                  <br /> &#9755; one digit letter (0-9)
                  <br /> &#9755; one special character (!@#$%^&*).
                </mat-error>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</section>
