
.sign-btn {
display: flex;
margin: auto;
}
.register-form{
display: flex;
justify-content: center;
align-items: center;
font-size: 12px;
}
mat-error{
  display: flex;
}
.eye{
  background-color: transparent;
  border: none;
}

.passwordConfirm{
width: 200px;
}
h6,span{
  font-size: 13px;
}
