
.sign-btn {
display: flex;
margin: auto;
}
.register-form{
font-size: 12px;
}
mat-error{
  display: flex;
}
.eye{
  background-color: transparent;
  border: none;
}

.passwordConfirm{
width: 200px;
}
h6,span{
  font-size: 13px;
}
.h-custom{
      margin: 0;
}

input[type="email"],
input[type="text"],
input[type="password"]{
  border: none;
  border-bottom: 2px solid orange;
  width: 50%;
  outline: none;
}
