<!-- <div class="hero_area" style="background-color: #0c0c0c">
  <header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark custom_nav-container">
        <div class="">
          <a class="navbar-brand" routerLink="/home">
            <span>Food Corner</span>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="d-flex justify-content-between w-100">
          <ul class="collapse navbar-collapse navbar-nav mx-auto breadcrumb">
            <li class="nav-item breadcrumb-item">
              <a
                class="nav-link "
                routerLink="/home"
                routerLinkActive="active-link"
                [ngClass]="{
                  'text-warning': isActive('/home'),
                  'text-white': !isActive('/home')
                }"
                >Home</a
              >
            </li>
            <li class="nav-item breadcrumb-item">
              <a
                class="nav-link"
                routerLink="/book"
                routerLinkActive="active-link"
                [ngClass]="{
                  'text-warning': isActive('/book'),
                  'text-white': !isActive('/book')
                }"
                >Book Table</a
              >
            </li>
            <li class="nav-item breadcrumb-item">
              <a
                class="nav-link"
                routerLink="/contact"
                routerLinkActive="active-link"
                [ngClass]="{
                  'text-warning': isActive('/contact'),
                  'text-white': !isActive('/contact')
                }"
                >Contact us</a
              >
            </li>
            <li class="nav-item breadcrumb-item dropdown">
              <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" role="button" aria-expanded="false">Account</a>
              <ul class="dropdown-menu bg-dark drop-down-menu">
                <li>
                  <a class="dropdown-item text-warning">
                    <i class="fa-solid fa-user mx-1"></i>
                    Profile
                  </a>
                </li>
                <li>
                  <a class="dropdown-item text-warning">
                    <i class="fa-solid fa-gear mx-1"></i>
                    Setting
                  </a>
                </li>
                <li routerLink="/track">
                  <a class="dropdown-item text-warning">
                    <i class="fa-solid fa-truck-fast"></i>
                    Orders
                  </a>
                </li>
                <hr>
                <li class="sign-out">
                    <button type="button"  class="dropdown-item text-center btn btn-outline-warning w-100"(click)="logout()"
                        data-toggle="modal"
                        data-target="modalID"
                        [hidden]="!userStatus"
                      >
                        Sign out
                    </button>
                      
                    <button
                        type="button"
                        class="dropdown-item text-center btn btn-outline-warning"
                        (click)="openPopup()"
                        data-bs-toggle="modal"
                        data-bs-target="modalID"
                        [hidden]="userStatus"
                      >
                        Login
                    </button>
                </li>
              </ul>
            </li>
            <li class="nav-item breadcrumb-item d-flex justify-content-center">
              <div class="user_option d-flex">

                <a class="cart_link" routerLink="/cart">
                  <i
                    class="fa-solid fa-cart-shopping"
                    [style.color]="colorCart"
                  ></i>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
</div> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark hero_area">
  <div class="container">
    <a class="navbar-brand" routerLink="/home" >Food Corner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mx-3 " id="navbarSupportedContent"  >
      <ul class="navbar-nav  me-auto mb-2 mb-lg-0 w-50 d-flex align-items-center">
        <li class="nav-item" [ngClass]="{'full-width': isMobile}">
            <a
                class="nav-link "
                routerLink="/home"
                routerLinkActive="active-link"
                [ngClass]="{
                  'text-warning': isActive('/home'),
                  'text-white': !isActive('/home')
                }">
                <i class="fa-solid fa-house  mx-1"></i>
                Home
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'full-width': isMobile}">
          <a
                class="nav-link"
                routerLink="/book"
                routerLinkActive="active-link"
                [ngClass]="{
                  'text-warning': isActive('/book'),
                  'text-white': !isActive('/book')
                }">
                <i class="fa-solid fa-utensils  mx-1"></i>
                Book Table
          </a>
        </li>
        <li class="nav-item" [ngClass]="{'full-width': isMobile}">
          <a
            class="nav-link"
            routerLink="/contact"
            routerLinkActive="active-link"
            [ngClass]="{
              'text-warning': isActive('/contact'),
              'text-white': !isActive('/contact')
            }">
            <i class="fa-solid fa-message mx-1"></i>
            Contact us
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'full-width': isMobile}">
          <a class="nav-link text-white" routerLink="/cart"[ngClass]="{
              'text-warning': isActive('/cart'),
              'text-white': !isActive('/cart')
            }">
            <i class="fa-solid fa-cart-shopping  mx-1"></i>
            Cart
          </a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <li>                  
              <a class="dropdown-item text-warning">
                <i class="fa-solid fa-user mx-1"></i>
                Profile
              </a>
            </li>
            <li>                  
              <a class="dropdown-item text-warning">
                  <i class="fa-solid fa-gear mx-1"></i>
                  Setting
              </a>
            </li>
            <li>                  
              <a class="dropdown-item text-warning"
              routerLink="/track">
                <i class="fa-solid fa-truck-fast mx-1"></i>
                Orders
              </a>
            </li>
            <li><hr class="dropdown-divider bg-white"></li>
            <li class="sign-out">
              <button type="button"  class="dropdown-item text-center btn btn-outline-warning w-100"(click)="logout()"
                  data-toggle="modal"
                  data-target="modalID"
                  [hidden]="!userStatus"
                >
                  Sign out
              </button>
                
              <button
                  type="button"
                  class="dropdown-item text-center btn btn-outline-warning"
                  (click)="openPopup()"
                  data-toggle="modal"
                  data-target="modalID"
                  [hidden]="userStatus"
                >
                  Login
              </button>
            </li>
          </ul>
        </li>

      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<app-popup #popupComp></app-popup>
