<button class="btn btn-outline-warning">
<i class="fa fa-user text-white" (click)="openLoginDialog()" aria-hidden="true"></i>
</button>
<div class="hero_area" style="background-color: #0c0c0c;">
  <header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark custom_nav-container">
        <a class="navbar-brand" routerLink="/home">
          <span>Food Corner</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home" routerLinkActive="active-link" [ngClass]="{'text-warning': isActive('/home'), 'text-white': !isActive('/home')}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/book" routerLinkActive="active-link" [ngClass]="{'text-warning': isActive('/book'), 'text-white': !isActive('/book')}">Book Table</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact" routerLinkActive="active-link" [ngClass]="{'text-warning': isActive('/contact'), 'text-white': !isActive('/contact')}">Contact us</a>
            </li>
          </ul>
          <div class="user_option d-flex">

            <a class="cart_link" routerLink="/cart">
            <i class="fa-solid fa-cart-shopping " [style.color]="cartItems.length > 0 ? 'orange' : 'white'"></i>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </header>
</div>
