  <div class="hero">
    <div class="bg-box">
      <!-- slider section -->
      <div class="container ">
        <div class="row">
          <div class="col-6">
            <div class="detail-box text-light">
              <h1> Fast Food Restaurant </h1>
              <p>
                Doloremque, itaque aperiam facilis rerum, commodi, temporibus sapiente ad mollitia laborum quam quisquam esse error unde. Tempora ex doloremque, labore, sunt repellat dolore, iste magni quos nihil ducimus libero ipsam.
              </p>
              <div class="btn-box">
                <button class="btn btn-danger" >
                  Order Now
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- offer section -->
<section class="offer_section layout_padding-bottom mb-5">
  <div class="offer_container">
    <div class="container ">
      <div class="row">
        <div class="col-md-6  ">
          <div class="box ">
            <div class="img-box">
              <img src="../../../assets/Images/o1.jpg" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Tasty Thursdays
              </h5>
              <h6>
                <span>20%</span> Off
              </h6>
              <a routerLink="/cart" class="btn btn-danger fw-bold text-light">
                Order Now
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6  ">
          <div class="box ">
            <div class="img-box">
              <img src="../../../assets/Images/o2.jpg" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Pizza Days
              </h5>
              <h6>
                <span>15%</span> Off
              </h6>
              <a routerLink="/cart" class="btn btn-danger fw-bold text-light">
                Order Now
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end offer section -->


  <!-- food section -->
<section class="food_section layout_padding-bottom mt-5">
  <div class="container">
    <div class="heading_container heading_center">
      <h2> Our Menu </h2>
    </div>
    <ul class="filters_menu">
      <li [class.active]="selectedCategory === '*'" (click)="filterFoodsByCategory('*')" selected >All</li>
      <li [class.active]="selectedCategory === 'burger'" (click)="filterFoodsByCategory('burger')">Burger</li>
      <li [class.active]="selectedCategory === 'pizza'" (click)="filterFoodsByCategory('pizza')">Pizza</li>
      <li [class.active]="selectedCategory === 'pasta'" (click)="filterFoodsByCategory('pasta')">Pasta</li>
      <li [class.active]="selectedCategory === 'fries'" (click)="filterFoodsByCategory('fries')">Fries</li>
    </ul>
    <div class="filters-content" [@fadeInOut]>
      <div class="row grid">
        <div class="col-sm-6 col-lg-4 all pizza" *ngFor="let food of filteredFoods,let i = index">
          <div class="box" [ngClass]="{'hidden': !showAllProducts && i >= 6}">
              <div class="img-box col">
                <img (click)="openFoodDetails(food)"[src]="'../../../assets/'+food.imageURL" alt="{{food.name}}">
              </div>
              <div class="detail-box">
                <div class=" mt-3 d-flex justify-content-between">
                  <h5 (click)="openFoodDetails(food)" >{{food.name}}</h5>
                  <h5><i class="fa fa-heart red-heart favorite"   [ngClass]="{'fas': food.favorite, 'far': !food.favorite}"(click)="toggleLike(food)"></i></h5>
                </div>
                <div class="star">
                  <ng-container *ngFor="let star of getStarsArray(food.stars)">
                    <i class="fa fa-star" [ngClass]="{'half-star': star === 0.5}"></i>
                  </ng-container> ({{food.stars}})
                </div>
                <div class="des-origin mt-3">
                  <span class="card-text">{{food.description}}</span>
                  <span style="color:gray;">{{food.origins}}</span>
                </div>
                <div class="time">
                  <i class="fa-solid fa-clock"> </i>
                  <span > {{food.cookTime}} | Minutes</span>
                </div>
                <div class="options">
                  <h6>
                    {{food.price | currency}}
                  </h6>
                  <a routerLink="/cart" style="background-color: #d3af71;">
                    <i class="fa-solid fa-cart-shopping" style="color: #072b4e;"></i>
                  </a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
<button class="btn btn-outline-warning mb-5 mt-5 view" (click)="toggleShowAllProducts()">
  {{ showAllProducts ? 'Show Less' : 'View More' }}
</button>
  </div>
</section>
<!-- end food section -->

<!-- about section -->
<section class="about_section layout_padding  mb-5">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="img-box">
          <img src="../../../assets/Images/about-img.png" alt="">
        </div>
      </div>
      <div class="col-6">
        <div class="detail-box">
          <h2 class="heading_container">
            We Are Feane
          </h2>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
            some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
            to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
            text.
          </p>
          <button class="btn btn-outline-warning">
            Read More
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end about section -->

    <!-- ======= Whu Us Section ======= -->
<section id="why-us" class="why-us mb-5">
  <div class="container">

    <div class="section-title text-center">
      <h2>Why choose Our Restaurants</h2>
    </div>

    <div class="row">

      <div class="col-lg-3">
        <div class="box">
          <span>01</span>
          <h4>Fresh and Delectable Dishes</h4>
          <p>Indulge in the finest culinary delights prepared by our skilled chefs using only the freshest ingredients. From mouthwatering appetizers to sumptuous main courses and delectable desserts, every dish is a masterpiece that delights your taste buds.</p>
        </div>
      </div>

      <div class="col-lg-3 mt-4 mt-lg-0">
        <div class="box">
          <span>02</span>
          <h4>Impeccable Service</h4>
          <p>At Our Restaurant, we prioritize your comfort and satisfaction. Our courteous and attentive staff is dedicated to making your dining experience memorable. From the moment you step in until you leave, we ensure you receive top-notch service that exceeds your expectations.</p>
        </div>
      </div>

      <div class="col-lg-3 mt-4 mt-lg-0 mb-5">
        <div class="box">
          <span>03</span>
          <h4>Charming Ambience</h4>
          <p>Step into an enchanting atmosphere that combines elegance with a warm, welcoming vibe. Whether you're dining with family, friends, or having a romantic evening, our restaurant's cozy ambiance sets the perfect mood for every occasion.</p>
        </div>
      </div>
      <div class="col-lg-3 mt-4 mt-lg-0 mb-5">
        <div class="box">
          <span>04</span>
          <h4>Providing Ambience</h4>
          <p>At Our Restaurant, we take immense pride in consistently delivering an extraordinary dining experience that captivates our cherished customers. There are numerous compelling reasons why you should wholeheartedly choose us to savor culinary delights beyond compare</p>
        </div>
      </div>

    </div>

  </div>
</section>
    <!-- End Whu Us Section -->

