
/* Styling for the favorite heart icon */
.red-heart {
  font-size: 20px;
  cursor: pointer;
  color: orangered;
}

/* Styling for the food image */
.card .bg-image img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Optional: Add any additional custom styles for other elements as needed */
.food-details{
  display: flex;
  align-items: center;
}

ol{
  font-size: 18px;
}
.breadcrumb-item+.breadcrumb-item::before {
  color: white;
}