<mat-dialog>
  <section class="container-fluid">
      <div class="row">
        <div class="offset-xl-1 mt-3">
          <h2 class="text-white">Sign up</h2>
          <mat-dialog-actions>
          <button mat-button (click)="closeDialog()">Exit</button>
          </mat-dialog-actions>
          <form class="form theme-form mt-5" [formGroup]="jobForm">

              <!-- Email input -->
              <mat-icon class="fas fa-envelope fa-lg me-3 fa-fw text-warning" matPrefix></mat-icon>
              <mat-label class="text-warning">Email</mat-label>
              <div class="email ">
                <mat-form-field class="email-input ">
                    <input matInput
                    class="text-white mb-1 mt-1"
                          formControlName="email"
                          type="email"
                          id="form3Example4a">
                </mat-form-field>
              </div>

              <!-- Password input -->
              <div class="">
                  <mat-icon class="fas fa-lock fa-lg me-3 fa-fw text-warning" matPrefix></mat-icon>
                  <mat-label class="text-warning">Password</mat-label>
                <div class="pw">
                  <mat-form-field class="password-input flex-fill">
                      <input matInput
                      class="text-white mt-1"
                      [type]="hide ? 'password' : 'text'"
                      formControlName="password"
                      >
                      <button class="eye" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <i class="fas fa-eye{{ hide ? '-slash' : '' }} text-warning"></i>
                      </button>
                    </mat-form-field>
                </div>
              </div>
              <!-- Checkbox -->
            <div class="d-flex justify-content-between align-items-center">
              <div class="form-check text-warning">
                <label class="form-check-label" for="form2Example3">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                  Remember me
                </label>
              </div>
            </div>

            <div class="text-center text-lg-start pt-2 mb-5">
              <button
              class="btn btn-outline-warning w-100 mb-2"
              style="padding-left: 2.5rem; padding-right: 2.5rem;"
              [disabled]="jobForm.invalid"
              routerLink="/home"
              >
              Login
            </button>

            <a class="text-warning " routerLink="/register" >Forgot password?</a>
              <h6 class="text-white fw-bold pt-1 mt-3 ">
                Don't have an account?
                <a routerLink="/register" class="link-warning">
                  Register
                </a>
              </h6>
            </div>
              <h6 class="text-white d-flex justify-content-center align-items-center ">or</h6>
          </form>
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start mb-3">
            <h6 class=" me-3 text-white">  Login with </h6>
              <span class="circle-icon">
                <i class="fab fa-facebook-f text-white"></i>
              </span>

              <span class="circle-icon mx-3 ">
                <i class="fab fa-twitter text-white "></i>
              </span>

              <span class="circle-icon">
                  <i class="fa-brands fa-linkedin-in text-white"></i>
              </span>
          </div>
        </div>
      </div>
  </section>
</mat-dialog>
