@import '~@fortawesome/fontawesome-free/css/all.css';
@import "~bootstrap/dist/css/bootstrap.min.css";

.fa-star{
  color: orange;
}
body{
  scroll-behavior: smooth;
}

#modalID > div > div > div{
  background-color: rgba(21, 21, 21, 0.9);
  border: 2px solid #1ab394;
  width: fit-content;
  margin: auto;
}

.swal2-cancel{
      margin: 10px;
}
.modal-backdrop{
  opacity: 0.5;
display: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body > app-root > div > div > app-home > section.food_section.layout_padding-bottom.mt-5.ng-tns-c52414166-2 > div > pagination-controls > pagination-template > nav > ul
{
    background: cadetblue;
    border-radius: 15px;
    width: fit-content;
    margin: 10px auto;
    padding: 10px;
}
.current{
      background: darkgoldenrod  !important;
      border-radius: 8px;
}