@import '~@fortawesome/fontawesome-free/css/all.css';
@import "~bootstrap/dist/css/bootstrap.min.css";

.fa-star{
  color: orange;
}
body{
  padding-top: 80px;
  scroll-behavior: smooth;
}
.cdk-overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
div.mat-mdc-dialog-surface.mdc-dialog__surface{
  background-color: rgba(21, 21, 21, 0.9);
  border-radius: 30px;
}

